.pokedex {
  font-family: 'Press Start 2P', cursive;
  font-size: 80%;
  background-image: url('images/pokedex.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 835px;
  height: 635px;
  position: relative;
}
.onLoadInfo {
  flex-wrap: wrap;
  margin: 0 auto;
  color: white;
}
.overallDisplay, .interact {
  position: absolute;
  height: 200px;
  width: 250px;
  left: 284px;
  top: 50px;
  text-align: center;
}
.overallDisplay {
    overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.overallDisplayFlexContainer {
  display: flex;
  width: 1000px;
}
 .basicInformation, .baseStats, .summary, .display {
  height: 200px;
  width: 250px;
 }
/* .basicInformation {
  left: 538px;
}
.baseStats {
  left: 792px;
}
.summary {
  left: 1046px;
} */
.interact {
  top: 375px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  cursor: pointer;
}
.interact::-webkit-scrollbar, .overallDisplay::-webkit-scrollbar {
   width: 0 !important
  }
.displayText, .basicInformationTitle, .baseStatsTitle, .summaryTitle{
  margin-top: 10px;
  padding: 5px 0 5px 0;
  text-transform: capitalize;
  color: whitesmoke;
}
.displayImage {
  height: 150px;
  margin: auto 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

 .basicInformationDisplay, .baseStatsDisplay, .summaryDisplay {
   margin-top: 20px;
 }
 .basicInformationDisplay > * {
   margin: 5px 0 5px 0;
   padding: 3px 0 3px 0;
   color: white;
 }
 /* POKEMON TYPES CSS */
 .typeArea > * {
  border: 1px solid black;
  padding: 4px;
  border-radius: 20px;
  text-transform: uppercase;
 }
 .normal {
   background-color: #a8a878;
 }
 .fighting {
   background-color: #c03028;
 }
 .flying {
   background-color: #a890f0;
 }
 .poison {
   background-color: #a040a0;
 }
 .ground {
   background-color: #e0c068;
 }
 .rock {
   background-color: #b8a038;
 }
 .bug {
   background-color: #a8b820;
 }
 .ghost {
   background-color: #705898;
 }
 .steel {
   background-color: #b8b8d0;
 }
 .fire {
   background-color: #f08030;
 }
 .water {
   background-color: #6890f0;
 }
  .grass {
   background-color: green;
 }
 .electric {
   background-color: #f8d030;
 }
 .psychic {
   background-color: #f85e8a;
 }
 .ice {
   background-color: #98d8d8;
 }
 .dragon {
   background-color: #743ef8;
 }
 .dark {
   background-color: #705848;
 }
 .fairy {
   background-color: #ff65d5;
 }

 /* ABILITIES CSS */
 .abilitiesTitle {
   text-decoration: underline;
 }
 .abilities {
   border: 2px solid black;
   padding: 3px;
 }
 .abilities > * {
   text-transform: capitalize;
 }

/* GENERATED POKEMON SELECTION */

.pokemon {
  width: 90%;
  margin: 0 auto;
  display: flex;
  transition: 300ms;
  height: 13px;
}
.pokemon:hover, .currentSelection {
  transform: scale(1.1);
  border: 2px solid gold;
  font-size: 110%;
}
.pokemonID {
  width: 12%;
}
.pokemonName {
  width: 80%;
  text-transform: capitalize;
}

/* BUTTONS */
.submit {
  text-align: center;
  position: absolute;
  width: 70px;
  height: 70px;
  right: 63px;
  bottom: 130px;
  border: 2px solid green;
}
.leftButton, .rightButton, .upButton, .downButton {
  text-align: center;
  position: absolute;
  left: 140px;
  bottom: 154px;
  border: 2px solid green;
  width: 40px;
  height: 22px
}
.leftButton {
  left: 120px;
}
.rightButton {
  left: 185px;
}
.upButton {
  transform: rotateZ(90deg);
    bottom: 183px;
  left: 152px;
}
.downButton {
  transform: rotateZ(-90deg);
  bottom: 124px;
  left: 152px;
}
