.pokedex {
  background-image: url('images/pokedex.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 835px;
  height: 635px;
  position: relative;
}
.display, .interact {
  position: absolute;
  height: 200px;
  width: 250px;
  left: 284px;
  top: 50px;
  text-align: center;
}
.interact {
  top: 375px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow: auto;
  cursor: pointer;
}
.displayText {
  margin-top: 10px;
  padding: 5px 0 5px 0;
  text-transform: capitalize;
}
.displayImage {
  height: 150px;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.submit {
  text-align: center;
  position: absolute;
  width: 70px;
  height: 70px;
  right: 63px;
  bottom: 130px;
}

/* GENERATED POKEMON SELECTION */

.pokemon {
  width: 90%;
  margin: 0 auto;
  display: flex;
  transition: 300ms;
}
.pokemon:hover {
  transform: scale(1.1);
  border: 1px solid gold;
}
.pokemonID {
  width: 12%;
}
.pokemonName {
  width: 80%;
  text-transform: capitalize;
}
